@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none !important;
}
ul{
    list-style: none;
}
h1,h2,h3,h4,h5,h6{
    font-family: "Roboto";
    margin: 0 !important;
}
/* ========= all section background ============== */
.menu,.about,.discount{
    background-color: #ffd7ad;
}
/* ============ header navigation ========== */
header{
    background-color: #4a1831;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1111;
}
header ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px
}
header ul li{
    padding: 20px;
}
header ul li a{
    color: white !important;
    text-transform: uppercase;
    font-family: "Montserrat";
}
/*  =============== homepage =========== */
.homepage{
    background-image: url(images/homeImage.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 50px;
}
.homepage .complogo{
    height: 100px;
    width: 100px;
}
.homepage h1{
    color: #ffd7ad;
    font-size: 65px;
}
.homepage p{
    color: #ffd7ad;
}
.homepage button{
    height: 40px;
    width: 150px;
    background-color: #ffd7ad;
    color: #4a1831;
    border-radius: 40px;
    border: 2px solid transparent;
    font-weight: 700;
}
/* ============== menu section =============== */
.menu h1{
    color: #4a1831;
    font-size: 50px;
}
.menu p{
    color: #4a1831;
}
.menu button{
    height: 40px;
    width: 150px;
    background-color: #4a1831;
    color:#ffd7ad;
    border-radius: 40px;
    border: 2px solid transparent;
    font-weight: 700;
}
/* ============ about ======= */
.about .about-us{
    display: flex;
    align-items: center;
}
.about h1{
    color: #4a1831;
    font-size: 50px;
}
.about p{
    color: #4a1831;
}
.about button{
    height: 40px;
    width: 150px;
    background-color: #4a1831;
    color:#ffd7ad;
    border-radius: 40px;
    border: 2px solid transparent;
    font-weight: 700;
}
/* ============== discount section ========== */
.dis-image{
    position: relative;
}
.dis-image .image-text{
    position: absolute;
    top: 0;
    left: 0;
}
.dis-image .image-text h1{
    color: #e63956;
    font-size: 100px;
    font-weight: 700;
}
.dis-image .image-text h3{
    color: #55112e;
    font-size: 80px;
    font-weight: bold;
}
.dis-image .image-text h2{
    color: #6cc5ac;
    font-size: 90px;
    font-weight: 900;
}

/* ============ media Query =========== */
@media (max-width:576px) {
    header ul{
        gap:5px
    }
    header ul li{
        padding: 10px;
    }
}



