@media (max-width:576px) {

    .container {
        margin: 0px 30px;
    }

    /* ============= header section ================= */
    .header .bg-image {
        height: 600px;
    }

    .header .header-flex .logo {
        flex: 10;
    }

    .header .header-flex .nav {
        display: none;
    }

    .header .header-flex .show_menu {
        display: block;
        padding-left: 10px;
    }

    /* ===========background content ============== */
    .background .image-text {
        left: 50px;
    }

    /* ============== service -1 ================ */
    .services-1 .ser-flex {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .services-1 .ser-flex .left-img {
        padding: 0px;
    }

    .services-1 .ser-flex .left-img img {
        height: 300px;
        width: 420px;
    }

    .services-1 .ser-flex .right-text h1 {
        font-size: 35px;
    }
}